@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.card{    
    transform-style: preserve-3d;
    transition: transform 1s ease;
}
.card .front-card {
    transform: rotateY(180deg);
}
.card .side {
    backface-visibility: hidden;
    border-radius: 10px;
  }  