header{
    height: 10vh;
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header *{
    font-size: 30px;
    color: white;
    font-weight: bolder;
}
.title{
    height: 100%;
}
#logo{
    height: 2rem;
    width: 2rem;
}